@keyframes ldio-uu2wfvvbaaf {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-uu2wfvvbaaf div { box-sizing: border-box!important }
.ldio-uu2wfvvbaaf > div {
  position: absolute;
  width: 39px;
  height: 39px;
  top: 55.5px;
  left: 55.5px;
  border-radius: 50%;
  border: 3px solid #000;
  border-color: #002663 transparent #002663 transparent;
  animation: ldio-uu2wfvvbaaf 1.9607843137254901s linear infinite;
}

.ldio-uu2wfvvbaaf > div:nth-child(2), .ldio-uu2wfvvbaaf > div:nth-child(4) {
  width: 30px;
  height: 30px;
  top: 60px;
  left: 60px;
  animation: ldio-uu2wfvvbaaf 1.9607843137254901s linear infinite reverse;
}
.ldio-uu2wfvvbaaf > div:nth-child(2) {
  border-color: transparent #4d4f53 transparent #4d4f53
}
.ldio-uu2wfvvbaaf > div:nth-child(3) { border-color: transparent }
.ldio-uu2wfvvbaaf > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-uu2wfvvbaaf > div:nth-child(3) div:before, .ldio-uu2wfvvbaaf > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  top: -3px;
  left: 15px;
  background: #002663;
  border-radius: 50%;
  box-shadow: 0 36px 0 0 #002663;
}
.ldio-uu2wfvvbaaf > div:nth-child(3) div:after {
  left: -3px;
  top: 15px;
  box-shadow: 36px 0 0 0 #002663;
}

.ldio-uu2wfvvbaaf > div:nth-child(4) { border-color: transparent; }
.ldio-uu2wfvvbaaf > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-uu2wfvvbaaf > div:nth-child(4) div:before, .ldio-uu2wfvvbaaf > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  top: -3px;
  left: 10.5px;
  background: #4d4f53;
  border-radius: 50%;
  box-shadow: 0 27px 0 0 #4d4f53;
}
.ldio-uu2wfvvbaaf > div:nth-child(4) div:after {
  left: -3px;
  top: 10.5px;
  box-shadow: 27px 0 0 0 #4d4f53;
}
.loadingio-spinner-double-ring-oqgd79mfvx {
  width: 150px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-uu2wfvvbaaf {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-uu2wfvvbaaf div { box-sizing: content-box; }